body {
  color: #333333;
  margin: 0px;
font-family: 'Aleo', serif;
}

body, html {
  background-color:#fbfbfb;
  height: 100%;
  margin: 0;
}
/*######################## Header part ################################*/
/* Create three equal columns that floats next to each other */
* {
  box-sizing: border-box;
}
/*.header{
  position: fixed;
  text-align: center;
}*/
.flx-nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color:#ffece6;
  position: fixed;
  top: 0;
  width: 100%;
}

.flx-nav > div {
  /*z-index: 1;*/
  /*background-color: #809fff;*/
  text-shadow: 6px 5px 11px #cc6600;
  /*color: #cc6600;*/
  /*width: 230px;*/
  margin: 1px;
  height:75px;
  text-align:center;
  line-height: 85px;
  font-size: 45px;
}
.flx-nav .circle img {
  /*box-shadow: 2px 2px  #cc6600;*/
  position:relative;
  border-radius: 50%;
  border: 3px solid #cc6600;
  padding: 2px;
  /*margin-top:%;*/
}

.flx-nav .circle{
  position: relative;
  float: none;
  /*width:100px;*/
  padding-top: 3px;
  /*height: 60px;*/
  /*border-radius: 50%;*/
}

.flx-nav .house-div{
width:160px;
}



.menu{
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #ffece6;
  top:77px;
  position: fixed;
  width:100%;
  float: left;
  display: flex;
  justify-content: center;
}

.menu a {
  /*display: inline-block;*/
  margin-right: 10px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: black;
  /*width: 100px;*/
  text-align: center;
  /*display: block;*/
  padding: 2px;
  /*margin: 10px;*/
  text-decoration: none;
}

.menu a:hover{
  border-bottom: 2px solid red;
  /*background-color:  #994d00;*/
}

.menu a.active{
  border-bottom: 2px solid red;
  /*background-color:  #994d00;*/
  color: black;
}


/*####################### side show ############################*/

.mySlides {display: none}

#slide {
  /*height: 500px;*/
  /*position: relative;*/
  /*vertical-align: middle;*/
}
/* Slideshow container */

.slideshow-container 
{ 
  max-width:1000%;
  position: relative;
  margin-top: 100px
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*####################################################*/




/*################### sec and rep #####################*/
  header {  
  background-image:url(slide1.jpg);
  background-size: cover;
  background-position: center;
  height:492px;
   }

.container1 {
  background-color: white;
  position: relative;
  /*padding for space of inner content*/
  /*padding: 100px;*/
  margin: 100px; 
}
.column1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  grid-gap: 5px;
  background-color: #ccffcc;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column1 {
    background-color: #ccffcc;
    width: 100%;
  }
}
/*####################################################*/


/*################## facility #######################*/
/*###################################################*/


/*################contact########################*/
/* Style inputs */
input[type=text], select, textarea {
  /*box-shadow: 1px 1px 8px  rgba(0,0,0,0.2);*/
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=text]:hover{
    box-shadow: 1px 1px 8px  rgba(0,0,0,0.2);
}

input[type=submit] {
  box-shadow: 1px 1px 8px  rgba(0,0,0,0.2);
  border-radius: 50px;
  background-color: #cc9900;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  /*box-shadow: 1px 1px 8px  rgba(0,0,0,0.2);*/
  background-color: Green;
}

input[type=submit]:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
}
input[type=submit]:after {
    background-color:#55c57a;
}

/* Style the container/contact section */
.contact {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  border-radius: 5px;
  margin: 10px;
  /*background-color: #f2f2f2;*/
  /*padding: 100px;*/
}

.row-con{
  margin: 30px;
   box-shadow: 1px 1px 8px  rgba(0,0,0,0.2);
}

/* Create two columns that float next to eachother */
.column-con {
   /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row-con:after {
  content: "";
  display: table;
  clear: both;
}

.input-field:focus {
  border: 2px solid  #992600;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-con, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



/*########################### About_container ##############*/
/* Create four equal columns that floats next to each other */
.about_column {
  /*box-shadow: 4px 5px 7px 6px rgba(0,0,0,0.2);*/
  border: 10px solid white;
  margin: 50px;
  text-align: center;
  max-height: 400px;
  float: left;
  width: 60%;
  padding: 20px;
 
}
.about_column1 {
  /*box-shadow: 4px 5px 7px 6px rgba(0,0,0,0.2);*/
  max-height: 300px;
  margin-top:50px;
  float: right;
  width: 30%;
  padding: 20px;
}

/* Clear floats after the columns */
.about_row:after {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 1015px) {
  .about_column {
    width: 60%;
  }
  .about_column1 {
    width: 28%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 860px) {
  .about_column {
    border: 10px solid #ffd24d;
    margin: 0px;
    width: 100%;
  }
  .about_column1 {
    width: 100%;
  }
}
/*##########################################################*/


/*########################## footer ########################*/
/*.footer_footer {
  box-shadow: 1px 1px 8px  rgba(0,0,0,0.2);
  position: relative;
  height: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffece6;
  color: white;
  text-align: center;
}*/

/* Create four equal columns that floats next to each other */
.footer_row{
  margin-top: 15px;
}
.footer_column {
  text-align: center;
  color:#a6a6a6;
  height: 170px;
  /*margin-top: 15px;*/
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Clear floats after the columns */
/*.footer_row:after {
  content: "";
  display: table;
  clear: both;
}*/

.copyright{
  margin-top: 187px;
  color: white;
  padding-top: 8px;
  position: relative;
  height: 35px;
  width: 100%;
  text-align: center;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .footer_column {
    width: 33.33%;
  }
  .footer_row{
  margin-top: 15px;
}
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .footer_column {
    width: 100%;
  }
  .footer_row{
  margin-top: 15px;
}
}
/*listunstyled*/

/*addresh*/

.Adddersh a {
  /*padding: 10px;*/
  /*padding: 6px 8px 6px 16px;*/
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display:block;
}

.Adddersh a:hover {
  color: #f1f1f1;
}

/*social media*/
.fa {
  padding: 12px;
  font-size: 40px;
  width: 41px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/*##########################################################*/